*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    font-size: clamp(1.5rem, 2vw, 4rem);
}

h1{
    text-align: center;
}

.main{
    text-transform: uppercase;
}

.container{
    margin: 0 auto;
}

ul li{
    list-style-type: none;
    padding: 0.5em 0;

        a{
            text-decoration: none;
            color: black;
        }

        a:hover{
            font-size: clamp(1.25rem, 6vw, 2.5rem);
        }
}

ul{
    display: flex;
    flex-direction: column;
    align-items: center;
}